h1 {
    color: rgb(252, 158, 231);
    }
h2 {
    color: rgb(247, 198, 152); 
    }
java sparrow {
    color: rgb(238, 84, 225);
             }
 body {
         background-color: rgb(174, 255, 254);
    }
@font-face {
    font-family:ほのぼのぽっぷ;
    src: url("C:\Users\金原未桜\Downloads\honobonopop_20191222\HonobonoPopTTF-Regular.ttf") format('truetype'); 
}
h1 {
 font-family:'ほのぼのぽっぷ', sans-serif    
}